@use "sass:color";

$base-fontsize: 10px;
$titles-fontsize: 6rem;
$subtitles-fontsize: 4rem;
$text-fontsize: 2.5rem;

$font-family: 'Shadows Into Light', cursive;

$text-color: white;
$base-color : rgba(0, 0, 0, 1);
$base-color-alpha : rgba(0, 0, 0, 0.8);
$seconday-color: rgb(173, 0, 0);

$borders-thickness : 2rem;
